session.*
.emacs.desktop*
*%*
saves/*
ac-comphist.dat
auto-save-list/*
eproject.lst
ede-projects.el
*~
*#*
server/*
elpa/archives/elpy/archive-contents*
elpa/archives/*
init.el.*
*elc
bookmarks
ido.last
